.imagen-grupo {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 638px;
    object-fit: cover;
    }

.caja-derecha{
    position: absolute;
    width: 100%;
    left: 50%;
    height: 417px;
}
.triangulo {
    position: absolute;
    top: 0px;
    left: 0%;
    height: 487px;
    }
.caja-azul {
    position: absolute;
    top: 0px;
    background-color: #297b92;
    width: 100%;
    height: 366px;
    }
.caja-gris {
    position: absolute;
    top: 299px;
    left: 1283px;
    background-color: #a79a9a;
    width: 50%;
    height: 118px;
    }
.slogan {
    position: absolute;
    top: 126px;
    left: 1362px;
    display: inline-block;
    width: 312px;
    height: 118px;
    text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
    opacity: 0.9;
    }
.rectangle-div {
    position: absolute;
    top: 366px;
    left: 0px;
    background-color: #fff;
    /*width: 1283px;*/
    height: 51px;
    }
.container-banner {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 417px;
    overflow: hidden;
    text-align: left;
    font-size: 64px;
    color: #fff;
    font-family: Inter;
    }
    