.swiper{
  background-color: pink;
  height: 20vh;
  width: 80vh;
  top: 6.5rem !important;
  padding-top: 10px!important;
  margin-bottom: 55px!important;
  align-items: center !important;
}


.swiper-slide{
  background-color: rgb(7, 118, 174);
  margin-top: 20px;
  border-radius: 10px;
  /* height: 200px !important; */
  height: 10vh !important;
  width: 20vh !important;

}
.swiper-slide-next{
  transform: scale(1.2)!important;
}
.card2{
  background-color: aquamarine;
}
