
  .icono-svc {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  button {
    background-color: white;
    border: none;
    color: #297B92;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  h3 {
    font-size: 18px;
    margin: 15px 0;
  }
  
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  .carousel {
    display: flex;
    align-items: center;
    position: relative;
    height: 25vh;
    justify-content: center;
    z-index: 1;
  }
  
  .carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .card {
    min-width: 200px; /* Ajusta el ancho según sea necesario */
    height: 300px; /* Ajusta la altura según sea necesario */
    background: lightblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
  }
  
  .active {
    transform: scale(1.2); /* Carta central más grande */
  }
  
  .left,
  .right {
    transform: scale(0.9); /* Cartas laterales más pequeñas */
  }
  
  .arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .left {
    left: 24vw;
  }
  
  .right {
    right: 24vw;
  }