.banner-container{
  width: 100vw;
  height: 25vh;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: center; /* Centra los elementos horizontalmente (opcional) */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Stick to the left of the viewport */
  z-index: 2;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
  top: 20px;
}

 .imagen-banner{
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: center;
 }